<div class="admin-title">
    <h2><%= locals.title %></h2>
    <a href="/add" class="btn-sub">+ NEW</a>
</div>

<ul class="admin-posts">
    <% data.forEach(post => { %>
        <li>
            <a href="/post/<%= post._id %>">
                <%= post.title %>
            </a>
            <div class="admin-post-controls">
                <a href="/edit/<%= post._id %>" class="btn">EDIT</a>
                <form action="/delete/<%= post._id %>?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE" class="btn-delete btn">
                </form>
            </div>
        </li>
    <% }) %>
</ul>

<div class="pagination">
    <% if (currentPage > 1) { %>
        <a href="/allPosts?page=<%= currentPage -1 %>">&laquo; 이전</a>
    <% } %>

    <% for (let i = 1; i <= totalPages; i++) { %>
        <% if (i === currentPage) { %>
            <strong><%= i %></strong>
        <% } else { %>
            <a href="/allPosts?page=<%= i %>"><%= i %></a>
        <% } %>
    <% } %>

    <% if (currentPage < totalPages) { %>
        <a href="/allPosts?page=<%= currentPage +1 %>">다음 &raquo;</a>
    <% } %>
</div>