<h1>ARTICLE</h1>
<h3>
  신디가 개발공부하면서 삽질한 이야기를 어떻게든 예쁘게(?) 풀어내봅니다.
  <br>댓글기능 아직 못만들어서 감상문과 사랑고백(?)은 BOARD에 남겨주세요 ^-^
</h3>
<hr>
<section class="articles">
    <ul class="article-ul">
      <% data.forEach(post => { %>
        <li>
          <a href="/post/<%= post._id %>">
            <span><%= post.title %></span>
            <span class="article-list-date"><%= post.createdAt.toDateString() %></span>
          </a>
        </li>
      <% }) %>
    </ul>
    <div class="pagination">
      <% if (currentPage > 1) { %>
          <a href="/article?page=<%= currentPage -1 %>">&laquo; 이전</a>
      <% } %>
    
      <% for (let i = 1; i <= totalPages; i++) { %>
          <% if (i === currentPage) { %>
              <strong><%= i %></strong>
          <% } else { %>
              <a href="/article?page=<%= i %>"><%= i %></a>
          <% } %>
      <% } %>
    
      <% if (currentPage < totalPages) { %>
          <a href="/article?page=<%= currentPage +1 %>">다음 &raquo;</a>
      <% } %>
    </div>
</section>